@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
 body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  cursor: url("./Components/Asserts/icons8-books-48.png"),auto
}

